<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>PORTAL | PINTOS LTDA </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<body>
    
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">
                            <li>
                                <a href="https://www.pintos.com.br/intranet">
                                    INTRANET
                                </a>
                            </li>
                            <li>
                                <a href="http://www.pincred.com.br">
                                    PINCRED
                                </a>
                            </li>
                          <li>
                                <a href="http://www.pincred.com.br/simulador-de-consignado">
                                    SOLICITE SEU EMPRÉSTIMO
                                </a>
                            </li>

                        </ul>
                        <p class="copyright text-center">
                            © 2019-2020
                            <a href="https://www.pintos.com.br">PINTOS LTDA</a>, todos os direitos reservados a C.I PINTOS.
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    
</body>