<!DOCTYPE html>
<html>
  <head>
    <title>PORTAL | PINTOS LTDA</title>
    <%= render 'layouts/pages_users/config'%>
  </head>

  <body>
   <%= render 'layouts/pages_users/header'%>
    <%= yield %>
   <%= render 'layouts/pages_users/footer'%>
  </body>
</html>